.destinations {
  height: calc(100vh - 15.75rem);

}

.destinations-list {
  height: calc(100%);
  overflow: auto;
  list-style-type: none;
}

.alert-inf {
  font-size: 14px;
}

.btn {
  width: 100%;
}

/*bootstrap override*/
.accordion-body:not(.collapsed) {
  background-color: #f6f9fb !important;
}

.alert-info {
  padding: 15px 15px 4px 15px;
}
