.origin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

h3, p {
  text-align: left;
}

i {
  text-align: center;
}
