.location-suggestions {
  height: calc(100vh - 18.25rem);
  overflow: auto;
}

.locations > button {
  margin-top: 0.25rem;
  width: 100%;
}

.location {
  margin-right: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

