.location-suggestions {
  max-height: calc(100vh - 18.8rem);
  margin: 0.5rem 0;
  overflow: auto;
}

.locations > button {
  width: 100%;
}

.location {
  margin: 0.5rem 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.btn:focus,
.btn:active,
.btn:focus-visible
.btn:focus-within {
  outline: none;
  box-shadow: none;
}
